<a href="https://colab.research.google.com/github/macrodatascience/python/blob/main/Pandas_HTML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Working with HTML using Pandas**

# 1. read_html
# 2. to_html

In [1]:
import pandas as pd

In [5]:
html = pd.read_html("https://en.wikipedia.org/wiki/Mobile_country_code")
type(html)

list

In [8]:
html[0]

,MCC,MNC,Brand,Operator,Status,Bands (MHz),References and notes
0,1,1,TEST,Test network,Operational,any,NaN
1,1,1,TEST,Test network,Operational,any,NaN
2,999,99,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[4]"
3,999,999,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[4]"

In [9]:
html[1]

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN
...,...,...,...,...,...,...
247,452,Vietnam,VN,List of mobile network codes in the Vietnam,NaN,NaN
248,543,W Wallis and Futuna,WF,List of mobile network codes in Wallis and Futuna,NaN,NaN
249,421,Y Yemen,YE,List of mobile network codes in the Yemen,NaN,NaN
250,645,Z Zambia,ZM,List of mobile network codes in Zambia,NaN,NaN
251,648,Zimbabwe,ZW,List of mobile network codes in Zimbabwe,NaN,NaN

In [10]:
type(html[1])

pandas.core.frame.DataFrame

In [11]:
html = pd.read_html("https://en.wikipedia.org/wiki/Economy_of_the_United_States")

In [12]:
type(html)

list

In [14]:
html = pd.read_html("https://en.wikipedia.org/wiki/Economy_of_the_United_States", match="Government debt")

In [16]:
html[0]

,Year,GDP (in Bil. US$PPP),GDP per capita (in US$ PPP),GDP (in Bil. US$nominal),GDP per capita (in US$ nominal),GDP growth (real),Inflation rate (in Percent),Unemployment (in Percent),Government debt (in % of GDP)
0,1980,2857.3,12552.9,2857.3,12552.9,-0.3%,13.5%,7.2%,NaN
1,1981,3207.0,13948.7,3207.0,13948.7,2.5%,10.4%,7.6%,NaN
2,1982,3343.8,14405.0,3343.8,14405.0,-1.8%,6.2%,9.7%,NaN
3,1983,3634.0,15513.7,3634.0,15513.7,4.6%,3.2%,9.6%,NaN
4,1984,4037.7,17086.4,4037.7,17086.4,7.2%,4.4%,7.5%,NaN
5,1985,4339.0,18199.3,4339.0,18199.3,4.2%,3.5%,7.2%,NaN
6,1986,4579.6,19034.8,4579.6,19034.8,3.5%,1.9%,7.0%,NaN
7,1987,4855.3,20001.0,4855.3,20001.0,3.5%,3.6%,6.2%,NaN
8,1988,5236.4,21376.0,5236.4,21376.0,4.2%,4.1%,5.5%,NaN
9,1989,5641.6,22814.1,5641.6,22814.1,3.7%,4.8%,5.3%,NaN
10,1990,5963.1,23848.0,5963.1,23848.0,1.9%,5.4%,5.6%,NaN
11,1991,6158.1,24302.8,6158.1,24302.8,-0.1%,4.2%,6.9%,NaN
12,1992,6520.3,25392.9,6520.3,25392.9,3.5%,3.0%,7.5%,NaN
13,1993,6858.6,26364.2,6858.6,26364.2,2.8%,3.0%,6.9%,NaN
14,1994,7287.3,27674.0,7287.3,27674.0,4.0%,2.6%,6.1%,NaN
15,1995,7639.8,28671.5,7639.8,28671.5,2.7%,2.8%,5.6%,NaN
16,1996,8073.1,29947.0,8073.1,29947.0,3.8%,2.9%,5.4%,NaN
17,1997,8577.6,31440.1,8577.6,31440.1,4.4%,2.3%,4.9%,NaN
18,1998,9062.8,32833.7,9062.8,32833.7,4.5%,1.5%,4.5%,NaN
19,1999,9631.2,34496.2,9631.2,34496.2,4.8%,2.2%,4.2%,NaN
20,2000,10251.0,36312.8,10251.0,36312.8,4.1%,3.4%,4.0%,NaN
21,2001,10581.9,37101.5,10581.9,37101.5,1.0%,2.8%,4.7%,53.1%
22,2002,10929.1,37945.8,10929.1,37945.8,1.7%,1.6%,5.8%,55.5%
23,2003,11456.5,39405.4,11456.5,39405.4,2.8%,2.3%,6.0%,58.6%
24,2004,12217.2,41641.6,12217.2,41641.6,3.9%,2.7%,5.5%,66.1%
25,2005,13039.2,44034.3,13039.2,44034.3,3.5%,3.4%,5.1%,65.5%
26,2006,13815.6,46216.9,13815.6,46216.9,2.8%,3.2%,4.6%,64.2%
27,2007,14474.3,47943.4,14474.3,47943.4,2.0%,2.9%,4.6%,64.6%
28,2008,14769.9,48470.6,14769.9,48470.6,0.1%,3.8%,5.8%,73.4%
29,2009,14478.1,47102.4,14478.1,47102.4,-2.6%,-0.3%,9.3%,86.6%
30,2010,15049.0,48586.3,15049.0,48586.3,2.7%,1.6%,9.6%,95.1%
31,2011,15599.7,50008.1,15599.7,50008.1,1.6%,3.1%,8.9%,99.5%
32,2012,16254.0,51736.7,16254.0,51736.7,2.3%,2.1%,8.1%,103.0%
33,2013,16843.2,53245.5,16843.2,53245.5,1.8%,1.5%,7.4%,104.5%
34,2014,17550.7,55083.5,17550.7,55083.5,2.3%,1.6%,6.2%,104.5%
35,2015,18206.0,56729.7,18206.0,56729.7,2.7%,0.1%,5.3%,104.9%
36,2016,18695.1,57840.0,18695.1,57840.0,1.7%,1.3%,4.9%,106.9%
37,2017,19479.6,59885.7,19479.6,59885.7,2.3%,2.1%,4.4%,106.0%
38,2018,20527.2,62769.7,20527.2,62769.7,2.9%,2.4%,3.9%,107.1%
39,2019,21372.6,65051.9,21372.6,65051.9,2.3%,1.8%,3.7%,108.5%
40,2020,20893.8,63358.5,20893.8,63358.5,-3.4%,1.2%,8.1%,133.9%
41,2021,22939.6,69375.4,22939.6,69375.4,6.0%,4.3%,5.4%,133.3%
42,2022,24796.1,74725.0,24796.1,74725.0,5.2%,3.5%,3.5%,130.7%
43,2023,25938.2,77881.3,25938.2,77881.3,2.2%,2.7%,3.0%,131.1%
44,2024,26980.4,80714.8,26980.4,80714.8,1.7%,2.6%,3.0%,131.7%
45,2025,28035.1,83563.8,28035.1,83563.8,1.7%,2.5%,3.1%,132.5%
46,2026,29102.5,86428.7,29102.5,86428.7,1.7%,2.3%,3.3%,133.5%

In [19]:
html = pd.read_html("https://en.wikipedia.org/wiki/Munich", match="Climate data for Munich")
type(html), len(html)

(list, 1)

In [20]:
html[0]

  Climate data for Munich (Dreimühlenviertel), elevation: 515 m and 535 m, 1981–2010 normals, extremes 1954–present[a]  \
                                                                                                                 Month
0                                Record high °C (°F)
1                               Average high °C (°F)
2                                 Daily mean °C (°F)
3                                Average low °C (°F)
4                                 Record low °C (°F)
5                  Average precipitation mm (inches)
6                        Mean monthly sunshine hours
7                                  Source 1: DWD[57]
8                            Source 2: SKlima.de[58]

                                                                              \
                       Jan                      Feb                      Mar
0               18.9(66.0)               21.4(70.5)               24.0(75.2)
1                3.5(38.3)                5.0(41.0)                9.5(49.1)
2                0.3(32.5)                1.4(34.5)                5.3(41.5)
3               −2.5(27.5)               −1.9(28.6)                1.6(34.9)
4              −22.2(−8.0)             −25.4(−13.7)               −16.0(3.2)
5                  48(1.9)                  46(1.8)                  65(2.6)
6                       79                       96                      133
7        Source 1: DWD[57]        Source 1: DWD[57]        Source 1: DWD[57]
8  Source 2: SKlima.de[58]  Source 2: SKlima.de[58]  Source 2: SKlima.de[58]

                                                                              \
                       Apr                      May                      Jun
0               32.2(90.0)               31.8(89.2)               35.2(95.4)
1               14.2(57.6)               19.1(66.4)               21.9(71.4)
2                9.4(48.9)               14.3(57.7)               17.2(63.0)
3                4.9(40.8)                9.4(48.9)               12.5(54.5)
4               −6.0(21.2)               −2.3(27.9)                1.0(33.8)
5                  65(2.6)                 101(4.0)                 118(4.6)
6                      170                      209                      210
7        Source 1: DWD[57]        Source 1: DWD[57]        Source 1: DWD[57]
8  Source 2: SKlima.de[58]  Source 2: SKlima.de[58]  Source 2: SKlima.de[58]

                                                                              \
                       Jul                      Aug                      Sep
0               37.5(99.5)               37.0(98.6)               31.8(89.2)
1               24.4(75.9)               23.9(75.0)               19.4(66.9)
2               19.4(66.9)               18.9(66.0)               14.7(58.5)
3               14.5(58.1)               14.2(57.6)               10.5(50.9)
4                6.5(43.7)                4.8(40.6)                0.6(33.1)
5                 122(4.8)                 115(4.5)                  75(3.0)
6                      238                      220                      163
7        Source 1: DWD[57]        Source 1: DWD[57]        Source 1: DWD[57]
8  Source 2: SKlima.de[58]  Source 2: SKlima.de[58]  Source 2: SKlima.de[58]

                                                                              \
                       Oct                      Nov                      Dec
0               28.2(82.8)               24.2(75.6)               21.7(71.1)
1               14.3(57.7)                7.7(45.9)                4.2(39.6)
2               10.1(50.2)                4.4(39.9)                1.3(34.3)
3                6.6(43.9)                1.7(35.1)               −1.2(29.8)
4               −4.5(23.9)              −11.0(12.2)              −20.7(−5.3)
5                  65(2.6)                  61(2.4)                  65(2.6)
6                      125                       75                       59
7        Source 1: DWD[57]        Source 1: DWD[57]        Source 1: DWD[57]
8  Source 2: SKlima.de[58]  Source 2: SKlima.de[58]  Source 2: SKlima.de[58]


                      Year
0               37.5(99.5)
1               13.9(57.0)
2                9.7(49.5)
3                5.9(42.6)
4             −25.4(−13.7)
5                944(37.2)
6                     1777
7        Source 1: DWD[57]
8  Source 2: SKlima.de[58]

In [22]:
html[0].to_html('munich.html')

In [28]:
!dir

munich.html  sample_data